.leaflet-marker-venue {
    border-color: #e912e3;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    background-color: #303030;
    display: flex;
    align-items: center;
    justify-content: center;
}
.leaflet-marker-location {
    border-color: rgb(184, 231, 251);
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    background-color: #303030;
    display: flex;
    align-items: center;
    justify-content: center;
}

.leaflet-marker-parking {
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    background-color: #303030;
    border-color: #005B8C;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

:root {
    --leaflet-tile-filter:  brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.7);
}
.leaflet-tile {
    filter: var(--leaflet-tile-filter, none);
}

.leaflet-container {
    background: #303030;
}